@using System.Configuration;
@using WinAuthAndAzureAuthTestForURCS.Utils;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Auth Test for URCS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        if (HttpContext.Current.User.IsInRole("Site Admin"))
                        {
                            <li class="dropdown">
                                <a href="#Nav" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("User Accounts", "Index", "UserAccount")</li>
                                </ul>

                            </li>
                        }
                    }
                    <li>@Html.ActionLink("Log In", "Index", "Home")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @URCSHelpers.GetFirstAndLastNameForCurrentUser()</p>
                <p class="nav navbar-text navbar-right"></p>
                <p class="nav navbar-text navbar-right"></p>
                <p class="nav navbar-text navbar-right" style="color:#999">AUTH TEST</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Domshyra</p>
            @*@{
                String[] users = @Roles.GetRolesForUser();
                String usersList = "";

            }
            @foreach (var user in users)
            {
                usersList += user + ",";
            }
            @Html.Hidden("UserRoles", usersList)*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@*<script>
    $(document).ready(function () {
        var userRoles = $("#UserRoles").val();
        console.log(userRoles);
    });
</script>*@